  <!-- index book一覧 -->
<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container px-5 px-sm-0'>

    <!-- バリデーション -->
    <div id="error_explanation">
        <% if @book.errors.any? %>
          <h3><%= @book.errors.count %> errors prohibited this obj from being saved:</h3>
          <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        <% end %>
    </div>

    <div class='row'>
      <div class='col-md-3'>
        <%= render 'layouts/sidebar' %>
      </div>

      <!-- 投稿一覧 -->
      <div class='col-md-8 offset-md-1'>
        <h2>Books</h2>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <!-- 下記のthはuser画像 -->
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <!-- tbody内に投稿データが入る -->
          <tbody>
            <% @books.each do |book| %>
              <tr>
                <td><!-- 表示画像がログイン者のものと同じになる -->
                  <%= link_to user_path(book.user) do %>
                    <%= attachment_image_tag book.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "default-image.jpg" %>
                  <% end %>
                <!--userpathを@book経由のbook.userで取得(アソシエーション)-->
                </td>
                <td>
                  <a><%= link_to book.title, "/books/#{book.id}" %></a>
                </td><!-- books/showへのリンク -->
                <td>
                  <a><%= book.body %></a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>